.dishes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
}

.dish {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 30px 40px; 
    background-color: white; 
    border-radius: 35px; 
    cursor: pointer; 
    /* filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13)); Тень */
    transition: all 0.3s ease; /* Плавный переход для hover */
}

.dish:hover {
    border: 2px solid #086500ad; 
}

.dish:hover button {
    background-color:  #086500ad; 
    color: white;
}

button {
    background-color: #f1eee9;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:  #086500ad;
    color: white;
}

/* Адаптивность */
@media (max-width: 800px) {
    .dishes-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 колонки для экранов до 800px */
    }
}

@media (max-width: 600px) {
    .dishes-grid {
        grid-template-columns: 1fr; /* Одна колонка для узких экранов */
    }
}
